/build/
/app/build/


# Ignore local configuration files
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.iml
.gradle

# Ignore API keys and sensitive files
/app/google-services.json

# Ignore system files
.DS_Store
Thumbs.db

/captures
.externalNativeBuild
.cxx
local.properties
